<app-home></app-home>
<h2>Reservation List</h2>
<!-- <ul *ngIf="reservations.length > 0; else noReservations"> -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Guest Name</th>
      <th>Room Number</th>
      <th>Check-in Date</th>
      <th>Check-out Date</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.name }}</td>
      <td>{{ reservation.roomNumber }}</td>
      <td>{{ reservation.checkInDate | date:'shortDate' }}</td>
      <td>{{ reservation.checkOutDate | date:'shortDate' }}</td>
      <td>{{ reservation.email }}</td>
      <td>
        <button class="btn btn-danger mx-1" (click)="deleteReservation(reservation.id)">Delete</button>
        <button class="btn btn-primary mx-1 " [routerLink]="['/edit', reservation.id]">Edit</button>
      </td>
    </tr>
  </tbody>
</table> 

<ng-template #noReservations>
    <p>No reservations found.</p>
</ng-template>