
<h2>Reservation List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Guest Name</th>
      <th>Room Number</th>
      <th>Check-in Date</th>
      <th>Check-out Date</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.name }}</td>
      <td>{{ reservation.roomNumber }}</td>
      <td>{{ reservation.checkInDate | date:'shortDate' }}</td>
      <td>{{ reservation.checkOutDate | date:'shortDate' }}</td>
      <td>{{ reservation.email }}</td>
      <td>
        <button class="btn btn-danger mx-1" (click)="deleteReservation(reservation.id)">Delete</button>
        <button class="btn btn-primary mx-1 " (click)="editReservation(reservation.id)">Edit</button>
      </td>
    </tr>
  </tbody>
</table> 
<ul *ngIf="reservations.length > 0; else noReservations">
  <li *ngFor="let reservation of reservations">
        Guest: {{ reservation.name }}
        Room Number: {{ reservation.roomNumber }}
        CheckInDate: {{ reservation.checkInDate | date:'shortDate' }} 
        CheckOutDate: {{ reservation.checkOutDate | date:'shortDate' }}
        Email: {{ reservation.email }}
        <button class="btn btn-danger" (click)="deleteReservation(reservation.id)">Delete</button>
        <button class="btn btn-primary" (click)="editReservation(reservation.id)">Edit</button>
  </li>
</ul>

<ng-template #noReservations>
    <p>No reservations found.</p>
</ng-template>